<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Meu site</h1>
    </header>
    <div class="topnav">
        <a href="">Link1</a>
        <a href="">Link2</a>
        <a href="">Link 3</a>
    </div>
    <main>
        <section class="column side">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consequatur doloremque commodi cupiditate? Veniam dolores reiciendis, eveniet nostrum blanditiis tenetur perferendis quae porro pariatur eos quam dicta, incidunt nihil nobis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio molestias impedit eligendi esse. Saepe repellendus exercitationem quasi sit provident voluptatem doloribus ratione dicta voluptatum? Voluptatum neque sed vitae laborum molestiae! Lorem ipsum dolor sit amet consectetur </p>
        </section>

        <section class="column middle">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quae ullam sed eaque nulla obcaecati sequi esse neque molestiae quo! Et alias veritatis ab quod laudantium ex magni quo cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repellendus quia similique vero, voluptate eligendi dolorem voluptatibus nam, quam et officiis totam! Ducimus, repellendus! Voluptate odit architecto voluptates eaque inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eaque autem eligendi excepturi ad, deleniti rerum laborum necessitatibus magni laudantium repudiandae dolor voluptatem eos ratione, porro consequuntur rem animi possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nihil iure atque ratione, dolor laudantium nemo nostrum id doloremque explicabo saepe a molestiae non fuga delectus ut repellat exercitationem repudiandae?</p>
        </section>

        <section class="column side">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quibusdam, non, officia itaque, eaque adipisci ullam quasi aut ipsa provident fuga molestias repudiandae aliquid at. Voluptatum quia corrupti dolore ex. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, vel? At, pariatur mollitia voluptates sapiente nam est aliquid nobis adipisci aliquam ut, odit vitae in rerum consectetur dicta magnam sed! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo laudantium ad, assumenda dolores accusamus doloribus repellat molestiae. Quia, nemo? Harum et vero quo minus eius dolore doloribus ipsam voluptatem cupiditate? </p>
        </section>
    </main>
    <footer>
        <p>Site criado por Guilherme Corrêa</p>
    </footer>
</body>
</html>